<div class="formContainer">
  <h2 appFontSizeDirective>Formulario de Alta</h2>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="containerInputs">
      <mat-form-field>
        <mat-label>Nombre</mat-label>
        <input formControlName='firstName' matInput type="text" />
        <mat-error >
          <span *ngIf="userForm.get('firstName')?.hasError('required')">
            El nombre es requerido
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Apellido</mat-label>
        <input formControlName="lastName" matInput type="text" />
        <mat-error >
          <span *ngIf="userForm.get('lastName')?.hasError('required')">
            El apellido es requerido
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class="containerInputs">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input formControlName="email" matInput type="email" />
        <mat-error >
          <span *ngIf="userForm.get('email')?.hasError('required')">
            Email valido requerido
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Telefono</mat-label>
        <input formControlName="phone" matInput type="number" />
        <mat-error >
          <span *ngIf="userForm.get('phone')?.hasError('required')">
            El telefono es requerido
          </span>
        </mat-error>
      </mat-form-field>
    </div>
    <div class=" containerSelect">
      <mat-form-field>
        <mat-label>Rol</mat-label>
        <mat-select formControlName="role">
          <mat-option value="Admin">Admin</mat-option>
          <mat-option value="Estudiante">Estudiante</mat-option>
        </mat-select>
        <mat-error >
          <span *ngIf="userForm.get('role')?.hasError('required')">
            El rol es requerido
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Nivel</mat-label>
        <mat-select formControlName="nivel">
          <mat-option value="Inicial">Inicial</mat-option>
          <mat-option value="Intermedio">Intermedio</mat-option>
          <mat-option value="Avanzado">Avanzado</mat-option>
        </mat-select>
        <mat-error >
          <span *ngIf="userForm.get('nivel')?.hasError('required')">
            El nivel es requerido
          </span>
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Curso</mat-label>
        <mat-select formControlName="curso">
          <mat-option value="Basico">Basico</mat-option>
          <mat-option value="Escritura intermedia"
            >Escritura intermedia</mat-option
          >
          <mat-option value="Oratoria Avanzada">Oratoria Avanzada</mat-option>
        </mat-select>
        <mat-error >
          <span *ngIf="userForm.get('curso')?.hasError('required')">
            El curso es requerido
          </span>
        </mat-error>
      </mat-form-field>
    </div>

    <div class="buttonSubmit">
      <button mat-flat-button>Guardar</button>
    </div>
  </form>
</div>
